body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #f0ebe3;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: 1.25rem;
  background-color: #7d9d9c;
  opacity: 70%;
  color: white;
}
.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  height: 2em;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
span {
  color: #7d9d9c;
}

@media (max-width: 800px) {
  .navbar-links {
    display: none;
    width: 100%;
  }
}
.navbar-links {
  height: 100%;
}
@media (max-width: 800px) {
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5em;
}
@media (max-width: 800px) {
  .navbar-links ul li {
    text-align: center;
  }
}
.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 1rem;
}

.intro-card {
  color: #7d9d9c;
  padding: 1em;
  margin-top: 7em;
  text-align: center;
  font-size: 2rem;
  line-height: 0.5em;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@media (max-width: 875px) {
  .intro-card h2 {
    font-size: 1em;
  }
}
h2 {
  padding: 0;
  margin: 0;

  @media (max-width: 875px) {
    font-size: 1em;
  }
}

strong {
  color: black;
}
.intro-icons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.arrow-container {
  width: 25px;
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  height: 20px;
  margin: 8.5em auto;
}

.arrow-down {
  height: 6px;
  margin-top: 1em;
  background: rgb(0, 0, 0);
  opacity: 75%;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}

.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: black;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

.my-projects {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  gap: 5em;

  @media (max-width: 875px) {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 0em;
  }
}
.project-card {
  display: flex;
}

/* .project-card img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

@media (min-width: 390px) and (max-width: 875px) {
  .project-card {
    height: 700px;
    flex-basis: 100%;
    flex-direction: column;
    //min-width: 50%;
    align-items: center;
    align-items: stretch;
    margin-bottom: 40px;
  }

  .project-card img {
    //flex: 1 1 0;
    //flex-direction: column;
    width: 350px !important;
    height: 200px !important;
    //object-fit: cover;
    //overflow-clip-margin: content-box;
    //overflow: clip;
    //position: center;
  }
}
.intro-icons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.icon-spacing {
  margin-left: 20px; /* Adjust the value to your desired spacing */
}
@media (max-width: 390px) {
  .project-card {
    height: 700px;
    display: inline;
  }
  .project-info {
    //display: relative;
    //height: 500px;
    //flex-basis: 100%;
    //font-size: 2px;
    //flex-direction: column;
    max-width: 100%;
    align-items: center;
    align-items: stretch;
    margin: 40px;
  }

  .project-card img {
    //display: flex;
    //flex-direction: column;
    width: 300px !important;
    height: 200px !important;
    //object-fit: cover;
    //overflow-clip-margin: content-box;
    //overflow: clip;
    //position: center;
  }
}

.project-card img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 875px) {
  .project-info {
    width: 50%;
    padding-left: 4em;
    line-height: 1.5rem;
  }
}

@media (min-width: 390px) and (max-width: 875px) {
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    /* max-width: 350px;
    min-width: 300px; */
    //height: 50%;
  }
}

.project-buttons a {
  text-decoration: none;
  align-items: left;
  background-color: #7d9d9c;
  color: white;
  padding: 0.5em 1em;
}

/* @media (max-width: 875px) .project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
@media (max-width: 875px) .project-buttons {
  display: flex;
  flex-direction: column;
} */
.project-buttons {
  margin-top: 1.5em;
  align-items: center;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: auto;
  width: 100%;
  margin: 2em;
  max-width: 870px;

  @media (max-width: 875px) {
    max-width: 330px;
    margin-left: 5px;
    margin-top: 2em;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    padding: 0;
  }
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  //margin-left: 30px;
}

* {
  box-sizing: border-box;
}
.icon-title {
  margin-top: 10px;
  color: black;
}
footer {
  display: flex;
  width: 100%;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #7d9d9c;
  height: 4em;
}
* {
  box-sizing: border-box;
}
@media (max-width: 875px) .into-icons, .footer-icons {
  width: 10%;
  padding: 0;
  margin: auto;
}
.intro-icons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
